/* For testing only */


/*  *:not(body):not(html) {
  box-sizing: border-box;
  border: 1px dashed #000;
}
.columns {
  min-height: 100px !important;
} */


/* End for testing */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: #4E5152;
  margin: 20px;
  font-family: 'News Cycle', sans-serif;
}

header h1 {
  margin: 0;
  font-size: 1.5em;
  padding: 18px 0 8px 20px;
  font-weight: bold;
  font-family: 'Rock Salt', cursive;
}

header {
  background: white;
}

nav {
  background: #f4f4f4;
  padding-left: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  padding: 8px 0;
  position: relative;
}

nav ul li a {
  padding: 8px 0;
  margin-right: 5px;
  font-size: 1em;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

nav ul li:nth-child(2) a:before,
nav ul li:nth-child(3) a:before,
nav ul li:nth-child(4) a:before,
nav ul li:nth-child(5) a:before {
  content: "• ";
}

.caption {
  margin: 20px 0;
  color: white;
}

.caption h1,
.caption h4 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: 'Julius Sans One', sans-serif;
}

.caption h1 {
  font-size: 1.2em;
  font-weight: normal;
}

.caption h4 {
  font-family: sans-serif;
  font-size: 0.7em;
}

.imageDiv {
  background: white;
}

.imageDiv img {
  width: 100%;
  display: block;
}

main section:first-child a,
main section:nth-child(2) a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 12px 0 12px 10px;
  text-transform: uppercase;
  font-size: 0.8em;
  background-color: #fff;
  margin-bottom: 20px;
}

main section:last-child p {
  color: black;
  padding: 25px;
  background-color: #CFECF0;
  line-height: 1.5em;
  margin-top: 40px;
}

.signature {
  font-family: 'Satisfy', cursive;
  font-size: 1.5em;
  padding-left: 50%;
}


/* MEDIA QUERIES START NOW  */

@media screen and (min-width: 600px) {
  body {
    margin: 0;
    background: white;
  }
  header {
    position: absolute;
    top: 50px;
    left: 50px;
    background: rgba(255, 255, 255, 0.75);
  }
  nav {
    background: none;
    padding-bottom: 30px;
  }
  header h1 {
    padding: 18px 20px 8px 20px;
  }
  nav ul li {
    display: block;
    padding: 0 0 2px 0;
  }
  nav li a {
    padding: 0;
  }
  nav ul li:nth-child(2) a:before,
  nav ul li:nth-child(3) a:before,
  nav ul li:nth-child(4) a:before,
  nav ul li:nth-child(5) a:before {
    display: none;
  }
  .imageDiv {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: black;
  }
  .imageDiv img {
    display: block;
    width: 100vw;
    height: 69vh;
    object-fit: cover;
  }
  .caption {
    position: absolute;
    bottom: 50px;
    left: 50px;
    margin: 0;
  }
  .caption h1 {
    margin-bottom: 5px;
  }
  .primary {
    position: relative;
    height: 69vh;
    margin-bottom: 1vh;
  }
  main {
    height: 30vh;
    min-height: 250px;
    z-index: 9999;
    overflow: auto;
  }
  main section:first-child {
    display: none;
  }
  main section:nth-child(2) {
    display: inline-block;
    float: left;
    padding: 0 1%;
    width: 49%;
    background: #005254;
    transition: background-color 1s;
    height: 100%;
  }
  main section:nth-child(2):hover {
    background-color: #b2cbcb;
    transition: background-color 1s;
  }
  main section:nth-child(2) a {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.2em;
    text-align: center;
    line-height: 2;
    width: 50%;
    margin: 0 auto;
    padding: 0;
  }
  .hotspot {
    font-family: 'Rock Salt', cursive;
    text-transform: none;
  }
  main section:nth-child(2) a,
  main section:last-child p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background: none;
  }
  main section:last-child {
    display: inline-block;
    float: right;
    width: 49%;
    padding: 0 1%;
    height: 100%;
    background: black;
  }
  main section:last-child p {
    margin: 0;
    padding: 0 5%;
  }
}

@media screen and (min-width: 1150px) {
  body {
    margin: 0;
  }
  .primary {
    width: 70vw;
    height: 100vh;
    margin: 0;
    display: block;
    float: left;
    margin-bottom: 0;
  }
  main section:nth-child(2),
  main section:last-child {
    margin: 0;
    height: 49.25vh;
    width: 100%;
  }
  main section:nth-child(2) {
    margin-bottom: 1.5vh;
  }
  main {
    width: 28.5vw;
    /*leaves white margin to the left of main*/
    height: 100vh;
    display: block;
    float: right;
  }
  .imageDiv img {
    display: inline-block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
}
