.caption {
  margin: 20px 0;
  color: $text-light;
  @media #{$screen-narrow} {
    position: absolute;
    bottom: 50px;
    left: 50px;
    margin: 0;
  }
}

.caption h1,
.caption h4 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: $stack-julius;
}

.caption h1 {
  @include font($size: 1.2em, $weight: normal);
  @media #{$screen-narrow} {
    margin-bottom: 5px;
  }
}

.caption h4 {
  @include font($font:sans-serif, $size: 0.7em)
}

main section:first-child a,
main section:nth-child(2) a {
  text-decoration: none;
  color: $text-dark;
  display: block;
  padding: 12px 0 12px 10px;
  text-transform: uppercase;
  font-size: 0.8em;
  background-color: $backg-black;
  margin-bottom: 20px;
}

main section:last-child p {
  color: $text-dark;
  padding: 25px;
  background-color: $backg-light;
  line-height: 1.5em;
  margin-top: 40px;
  @media #{$screen-narrow} {
    margin: 0;
    padding: 0 5%;
  }
}

.signature {
  @include font($stack-satisfy, 1.5em);
  padding-left: 50%;
}

//Content that only changes with screen size. ///////


 main {
    @media #{$screen-narrow} {
      height: 30vh;
      min-height: 250px;
      z-index: 9999;
      overflow: auto;
    }
    @media #{$screen-wide} {
      @include size(28.5vw, 100vh, block);
      /*leaves white margin to the left of main*/
      float: right;
    }
  }
.primary {
  @media #{$screen-narrow} {
    position: relative;
    height: 69vh;
    margin-bottom: 1vh;
  }
  @media #{$screen-wide} {
    @include size(70vw, 100vh, block);
      margin: 0;
      float: left;
      margin-bottom: 0;
    }
  }

  main section:first-child {
    @media #{$screen-narrow} {
      display: none;
    }
  }
  main section:nth-child(2) {
    @media #{$screen-narrow} {
      @include size(49%, 100%, inline-block);
      float: left;
      padding: 0 1%;
      background: $backg-para;
      transition: background-color 1s;
    }
    @media #{$screen-wide} {
      margin-bottom: 1.5vh;
    }
  }
main section:nth-child(2):hover {
  @media #{$screen-narrow} {
    background-color: $backg-para-hover;
    transition: background-color 1s;
  }
}
main section:nth-child(2) a {
  @media #{$screen-narrow} {
    @include font($stack-julius, 1.2em);
    text-align: center;
    line-height: 2;
    width: 50%;
    margin: 0 auto;
    padding: 0;
  }
}
.hotspot {
  @media #{$screen-narrow} {
    font-family: $stack-rock;
    text-transform: none;
  }
}
main section:nth-child(2) a,
main section:last-child p {
  @media #{$screen-narrow} {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: $text-light;
    background: none;
  }
}
main section:last-child {
  @media #{$screen-narrow} {
    @include size(49%,100%, inline-block);
    float: right;
    padding: 0 1%;
    background: black;
  }
}


main section:nth-child(2),
main section:last-child {
  @media #{$screen-wide} {
    @include size(100%, 49.25vh);
  }
}
