header h1 {
  @include font($stack-rock,1.5em,bold);
  @extend %margin;
  padding: 18px 0 8px 20px;
  @media #{$screen-narrow} {
    padding: 18px 20px 8px 20px;
  }
}
header h1 a{
  text-decoration: none;
  color: $text-dark;
}
header {
  background: $backg-white;

  @media #{$screen-narrow} {
    position: absolute;
    top: 50px;
    left: 50px;
    background: rgba($backg-white, 0.75);
  }
}

nav {
  background: $nav-color;
  padding-left: 20px;

  @media #{$screen-narrow} {
    background: none;
    padding-bottom: 30px;
  }
}

nav ul {
  @extend %margin;
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  padding: 8px 0;
  position: relative;
  @media #{$screen-narrow} {
    display: block;
    padding: 0 0 2px 0;
  }
}

nav ul li a {
  padding: 8px 0;
  margin-right: 5px;
  font-size: 1em;
  text-decoration: none;
  color: $text-dark;
  text-transform: uppercase;
  @media #{$screen-narrow} {
    padding: 0;
  }
}

nav ul li:nth-child(2) a:before,
nav ul li:nth-child(3) a:before,
nav ul li:nth-child(4) a:before,
nav ul li:nth-child(5) a:before {
  content: "• ";

  @media #{$screen-narrow} {
    display: none;
  }
}
