* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: $backg-dark;
  margin: 20px;
  font-family: $stack-news;

  @media #{$screen-narrow} {
    margin: 0;
    background: $backg-white;
  }

  @media #{$screen-wide} {
    margin: 0;
  }
}
